body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font-size: 12px;
	font-family: Tahoma, sans;
}

img {
	vertical-align: middle;
	border: 0px;
}

fieldset {
    font-size: 12px;
    border: 0px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    #background-color: #f9fafa;
}

fieldset legend {
    font-weight: bold;
    font-size: 10px;
}

.record:hover {
	background-color: #0fda32;
	color: #ffffff;
}

#message {
	display: none;
	width: 150px;
	text-align: center;
	padding: 5px 8px;
	font-weight: bold;
	position: absolute;
	right: 2%;
	font: 12px Arial;
}

.updatable {
	padding: 0px;
	margin: 0xp;
	display: inline;
}

.updatable:hover {
	#background:#eee;
}

.editable_empty {
	background: #fffea1;
	padding: 5px;
	border: 1px dashed #fc0;
}

.edit_box  {
	border: 1px solid #ccc;
	padding: 5px;
	display: block;
}

#Truncate {
	text-align: right;
}

#Truncate a {
	text-decoration: none;
}

#Insert:hover {
	cursor: pointer;	
} 

#InsertForm .inputField {
	border: 1px solid #e5e5e5;
	font-size: 12px;
	color: #c1c1c1;
}

#InsertForm .inputField:focus {
	border: 1px solid #c0c0c0;
	color: #000000;
}

#InsertForm .inputSubmit {
	border: 1px solid #c1c1c1;
	background-color: #e5e5e5;
	font-size: 12px;
}
